form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
input[type="text"], input[type="date"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.rating {
    display: flex;
    justify-content: start;
    margin-bottom: 15px;
}

.rating input {
    display: block
    
    
}


.rating input {
    margin-right: 5px;
}
.checkbox-group input{
    margin-bottom: 25px;
}

.checkbox-group {
    margin-bottom: 25px;
}

.checkbox-group label , .checkbox-group input{
    display: flex;
    margin-bottom: 8px;
    font-weight: bold;}    

.rating label {
    color: darkblue;
}

button {
    display: flex;
    align-items: center;
    background-color: darkblue;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: orangered;
    color:white;
}
