

*{
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1200px;
 }


body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    display:grid;
    min-height:100vh;
    grid-template-rows: auto 1fr auto;
}


main {
    background-color: rgb(226, 229, 232);
    color: rgb(46, 46, 119);
    font-weight: bold;
    padding:30px;
}


.header-grid, footer {
    width: 100%;
    padding: 20px;
}

header, footer, .head-nav a{
    background-color: rgb(46, 46, 119);
    color: rgb(226, 229, 232);
    text-decoration: none;
    
}

.head-nav button {
    background-color: rgb(46, 46, 119);
    color: rgb(226, 229, 232);
    text-decoration: none;
    border: none;
}

footer {
    text-align: center;
    font-size: larger;
}

select, label {
    display: flex;
    justify-self: center;
    align-items: center;

}

.grid-view {
    display:flex;
    flex-direction: column;
    
}

h2 {
     color:rgb(46, 46, 119);
}


#menu {
    position: absolute;
    font-size: 2em;
    color: rgb(226, 229, 232);
    background-color: rgb(46, 46, 119);;
    top: 1rem;
    right: 1rem;
    border:none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

#menu::before {
   content: '☰';
}

#menu.open::before {
    content: 'X';
}


.head-nav.open {
    display:flex;
    flex-direction: column;
    list-style: none;
}

/*To ensure that on small screens, the navigation will only show when
the hamburger button is open navigation.*/
.head-nav.open {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: 700;
    list-style: none;
}

.head-nav a {
    margin: 10px;
}


.header-h1.hide {
    display: none;
}

h2, .active {
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.head-nav {
    display: none;
}

.head-nav a:hover {
    text-decoration: underline;
}

.header-h1 {
    background-color: rgb(46, 46, 119);
}


#rents img {
    width: 100%;
}

article {
    border: 1px solid rgb(227, 222, 222);
    text-align: center;
    padding: 20px;
}

article span {
    color:rgb(82, 62, 236);
}

article h3, article p {
    color: black;
}

main { 
    width: 100%;
}

.header-grid {
    margin: 0.5rem auto;
	display: grid;
	grid-template-columns: 120px 1fr;

}

.header-grid img {
	margin: 0 0.25rem 0 1rem;
	width: 70px;
	height: 70px;
}

.logo-title {
    display: flex;
    justify-content: left;
    text-align: left;
    margin-left: -10px;
    grid-template-columns: 70px 1fr;
    gap: 10px;
}