/*I can be create an aside using flex on the parent container. Then I will set the two major components to have the same class.
Then i will set that class to flex: 1. In that way they can have equal fractions.*/


* {
    width: auto;
    margin: auto;
    padding:  0;
    background-color: rgb(226, 229, 232);

}

body {
        display: grid;
        height: 100vh;
        grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: large;
        padding:10px;
        
        
} 

header {
    grid-column: 1 / 4;
    margin-bottom: 10px;
}

main {
    display:flex;
    margin: 0 auto; 
    flex-wrap: wrap;
    gap: 20px;

}

.card {
    flex: 1;
    border: 1px solid black;
    margin-top: 0;

}


h1{
    background-color: rgb(46, 46, 119);
    justify-items: center;
    width: 100%;
    color: rgb(233, 221, 221);
    margin:0;
}

h2 {
    margin: 0;

}


.location img {
    max-width: 30%;
    position: relative;
    float: left;
}

.summary {
    margin-top:0;
    margin-bottom: 7rem;
}

.summary img {
    max-width: 30%;
    position: relative;
    float: right;
}


.summary p {
    text-wrap:wrap;
}

.summary h2, .card h2 {
    color: rgb(233, 221, 221);
    background-color:  rgb(46, 46, 119);;
}


.name {
    color: darkgrey;
    background-color:  rgb(46, 46, 119);;
}

.head-nav {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    
}

.head-nav a {
    background-color: black;
    color: rgb(233, 221, 221);
    text-decoration: none;
}


footer {
    display: flex;
    justify-content: center;
}


